<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <jmxConfigurator />

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

    <appender name="DEFAULT_ENCODER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="DEFAULT_ENCODER" />
    </root>

    <!-- ALL > TRACE > DEBUG > INFO > WARN > ERROR > OFF -->
    <logger name="tv.anypoint" level="DEBUG"/>

    <!-- thread 상태 확인을 위해 임시로 DEBUG-->
    <logger name="org.springframework" level="DEBUG"/>

    <logger name="org.apache" level="WARN"/>

    <logger name="org.hibernate.SQL" level="WARN"/>
    <logger name="org.hibernate.type" level="WARN"/>
    <logger name="org.hibernate.engine.query" level="WARN"/>
    <logger name="org.hibernate.jdbc" level="WARN"/>
    <logger name="org.hibernate.jpa.internal" level="ERROR"/>

</configuration>